<!DOCTYPE html>
<html>
<head>
    <title>Histórico de Vendas</title>
</head>
<body>
    <h2>Histórico de Vendas</h2>

    <table border="1">
        <tr>
            <th>Data</th>
            <th>Total</th>
            <th>Pagamento</th>
        </tr>

        {% for v in vendas %}
        <tr>
            <td>{{ v.data }}</td>
            <td>{{ v.total }} MZN</td>
            <td>{{ v.pagamento }}</td>
        </tr>
        {% endfor %}
    </table>

    <a href="/caixa/">⬅ Voltar</a>
</body>
</html>
