<!DOCTYPE html>
<html>
<head>
    <title>Nova Venda</title>
</head>
<body>

<h2>Nova Venda</h2>

<form method="post">
    {% csrf_token %}
    <select name="produto">
        {% for p in produtos %}
            <option value="{{ p.id }}">{{ p.nome }} - MZN {{ p.preco }}</option>
        {% endfor %}
    </select>

    <input type="number" name="quantidade" min="1" required>

    <button type="submit">Adicionar</button>
</form>

<h3>Carrinho</h3>

<table border="1">
<tr><th>Produto</th><th>Qtd</th><th>Total</th></tr>
{% for item in carrinho %}
<tr>
    <td>{{ item.nome }}</td>
    <td>{{ item.quantidade }}</td>
    <td>MZN {{ item.total }}</td>
</tr>
{% endfor %}
</table>

<h3>Total: MZN {{ total }}</h3>

<form method="post" action="/finalizar-venda/">
    {% csrf_token %}
    <button>Finalizar Venda</button>
</form>

</body>
</html>
