<!DOCTYPE html>
<html>
<head>
    <title>Nova Venda</title>
</head>
<body>

<h1>Nova Venda</h1>

<form method="post" action="/finalizar-venda/">
    {% csrf_token %}

    Produto:
    <input type="text" name="produto"><br><br>

    Quantidade:
    <input type="number" name="quantidade" value="1"><br><br>

    Forma de pagamento:
    <select name="pagamento">
        <option value="Dinheiro">Dinheiro</option>
        <option value="MPesa">MPesa</option>
        <option value="Cartão">Cartão</option>
    </select><br><br>

    Total:
    <input type="number" step="0.01" name="total"><br><br>

    <button type="submit">Finalizar Venda</button>

</form>

</body>
</html>
