<!DOCTYPE html>
<html>
<head>
    <title>Nova Venda</title>
</head>
<body>

<h1>Nova Venda</h1>

<form method="POST" action="/finalizar-venda/">
    {% csrf_token %}

    <label>Forma de pagamento:</label>
    <select name="pagamento">
        <option value="Dinheiro">Dinheiro</option>
        <option value="MPesa">MPesa</option>
        <option value="Cartão">Cartão</option>
    </select>

    <h3>Produtos</h3>

    {% for p in produtos %}
        <div>
            {{ p.nome }} — {{ p.preco }} MZN  
            <input type="number" name="produto_{{ p.id }}" value="0" min="0">
        </div>
    {% endfor %}

    <br>
    <button type="submit">Finalizar Venda</button>
</form>

<br>
<a href="/caixa/">Voltar ao Caixa</a>

</body>
</html>
